<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Whistle!</title>
    <meta name="description" content="One Page Layout">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
     <link type="text/css" href="styles/whistle.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <link id="primary_color_scheme" rel="stylesheet" href="styles/theme_meadow.css">
    <link rel="stylesheet" href="styles/themes_panel.css">
     <link href="styles/sumoselect.css" rel="stylesheet" />
    <script src="scripts/vendor/modernizr.js"></script>
    <link rel="icon" type="image/png" href="img/logo-dark.png" />
   
    <noscript>
      <link rel="stylesheet" href="styles/styleNoJs.css">
    </noscript>
  </head>
  <body>
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      <!-- Start Nav Section-->
      <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="index.html#" class="navbar-brand"><img src="img/logo-white.png" alt="" class="logo-white"><img src="img/logo-dark.png" alt="" class="logo-dark"></a>
          </div>
          <div class="navbar-collapse collapse">
            <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
            <ul id="one-page-menu" role="menu" class="nav navbar-nav navbar-left">
              <li><a href="index.html" title="Home" data-ref="home">Home</a>
              </li>
              <li><a href="about.html" title="About us" data-ref="about">About us</a>
              </li>
              <li><a href="category.html" title="Category" data-ref="Category">Category</a>
              </li>
              <li><a href="team.html" title="Team" data-ref="team">Team</a>
              </li>
              <!--<li><a href="investor.html" title="Investors" data-ref="blog">Investors</a>
              </li>
			   <li><a href="advisor.html" title="Investors" data-ref="blog">Advisors</a>
              </li> -->
              <li><a href="faq.html" title="FAQ" data-ref="pricing">FAQ</a>
              </li>
              <li><a href="contact.html" title="Contact Us" data-ref="contacts">Contact Us</a>
              </li>
            </ul>
			<!--<ul id="right-page-menu" role="menu" class="nav navbar-nav navbar-left">
              <li><a href="#myModal" data-toggle="modal" title="Login" data-ref="home">Login</a>
              </li>
              <li><a href="#myModaly" data-toggle="modal" title="Sign Up" data-ref="about">Sign Up</a>
              </li>
            </ul>-->
          </div>
        </div>
      </nav>
      <!-- Top section -->
      <!--<section class="banner-top">
		<article class="container">		
            <h1>
            	We are happy to <strong>helping</strong>
            </h1>	
            <p>Whistle bring people and their needs closer and faster</p>
        </article>    
      </section>-->
      <section style="background-image: url('img/intro-home6.jpg');" class="header-section fading-title parallax">
        <div class="section-shade sep-top-5x sep-bottom-3x">
          <div class="container">
            <div class="section-title upper text-center">
              <h2 class="light small-space">We are happy to&nbsp;<span class="text-primary">help</span></h2>
              <p class="lead light">WITH WHISTLE , YOU CAN HAVE YOUR CAKE AND EAT IT TOO.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Top section end-->
      
      <!-- Section - 2  start-->
     
          
          
          
          <section class="sep-bottom-xs padding-cs-top">
        <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" >
              <div class="section-title text-center">
                <h3>Contact Us</h3>
                <p class="lead">
                  You’ve got questions, and we have answers. Just send us a message
                  and one of our knowledgeable support staff will be in contact with
                  you within 48hrs – even on weekends and holidays.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 sep-top-xs">
              <h4 class="upper">Whistle</h4>
              <p class="sep-top-xs">
                To request more information, please send email to the following with your questions and enquiries and someone from our team will reach out to you shortly
              </p>
              <div>
                <!-- Start icon box-->
                <div class="icon-box icon-xs sep-top-xs icon-gradient">
                  <div class="icon-content img-circle"><i class="fa fa-map-marker"></i></div>
                  <div class="icon-box-content">
                    <h6>Address</h6>
                    <p>  10292 TERRY WAY, UNIT 2 <br />Cupertino, CA 95014 </p>
                  </div>
                </div>
                <!-- End icon box-->
                <!-- Start icon box-->
                <div class="icon-box icon-xs sep-top-xs icon-gradient">
                  <div class="icon-content img-circle"><i class="fa fa-phone"></i></div>
                  <div class="icon-box-content">
                    <h6>Phone/Fax</h6>
                    <p>(+1) 408 771 1732</p>
                  </div>
                </div>
                <!-- End icon box-->
                <!-- Start icon box-->
                <div class="icon-box icon-xs sep-top-xs icon-gradient">
                  <div class="icon-content img-circle"><i class="fa fa-envelope"></i></div>
                  <div class="icon-box-content">
                    <h6>Email</h6>
                    <p>support@dowhistle.com</p>
                  </div>
                </div>
                <!-- End icon box-->
                <!-- Start icon box-->
               
                <!-- End icon box-->
              </div>
            </div>
            <div class="col-md-8 sep-top-xs">
              
              <div class="contact-form">
                <div class="alert alert-success text-center" style="display:none" id="successMessage">
                  <p><i class="fa fa-check-circle fa-2x"></i></p>
                  <p>Thanks for sending your message! We'll get back to you shortly.</p>
                </div>
                <div class="alert alert-danger text-center" style="display:none" id="failureMessage">
                  <p><i class="fa fa-times-circle fa-2x"></i></p>
                  <p>There was a problem sending your message. Please, try again.</p>
                </div>
                <div class="alert alert-warning text-center" style="display:none" id="incompleteMessage">
                  <p><i class="fa fa-exclamation-triangle fa-2x"></i></p>
                  <p>Please complete all the fields in the form before sending.</p>
                </div>
                <form class="form-gray-fields validate" method="post" action="" id="contactForm" novalidate>
                  <div class="row">
                    <div class="col-md-6 sep-top-xs">
                      <div class="form-group">
                        <label class="upper" for="name">First Name</label>
                        <input type="text" class="form-control input-lg required" name="senderFName" placeholder="Enter name" id="name" aria-required="true">
                      </div>
                    </div>
                    <div class="col-md-6 sep-top-xs">
                      <div class="form-group">
                        <label class="upper" for="name"> Last Name</label>
                        <input type="text" class="form-control input-lg required" name="senderLName" placeholder="Enter name" id="name" aria-required="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  	<div class="col-md-6 sep-top-xs">
                      <div class="form-group">
                        <label class="upper" for="email"> Email</label>
                        <input type="email" class="form-control input-lg required email" name="senderEmail" placeholder="Enter email" id="email" aria-required="true">
                      </div>
                    </div>
                    <div class="col-md-6 sep-top-xs">
                      <div class="form-group">
                        <label class="upper" for="phone"> Phone</label>
                        <input type="text" class="form-control input-lg required" name="senderPhone" placeholder="Enter phone" id="phone" aria-required="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 sep-top-xs">
                      <div class="form-group">
                        <label class="upper" for="comment">Comment</label>
                        <textarea class="form-control input-lg required" name="senderComment" rows="9" placeholder="Enter comment" id="comment" aria-required="true"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 sep-top-xs">
                      <div class="form-group">
                        <button id="send-email-button" class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;Send message</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    
      </section>
      <!-- End Contact section-->
      <!-- Map Section - 2 start-->
      
        <div id="map-canvas" style="height:500px">
          <script>
            var
              lat = 37.318368,
              lon = -122.033565,
              infoText = [
                '<div style="white-space:nowrap">',
                  '<h5>OTTAVIO STUDIOS</h5>',
                  'Envato, level 13, 2<br>',
                  'Elizabeth St, Melbourne, Victoria<br>',
                  '3000, Australia',
                '</div>'
              ],
              mapOptions = {
                scrollwheel: false,
                markers: [
                  { latitude: lat, longitude: lon, html: infoText.join('') }
                ],
                icon: {
                  image: 'img/themes/meadow/marker.png',
                  iconsize: [72, 65],
                  iconanchor: [12, 65],
                },
                latitude: lat,
                longitude: lon,
                zoom: 11
              };
          </script>
        </div>
     
      <!-- Map Section - 2 end-->
     
      <!-- Start Team section-->
      
      <!-- End Team section-->
      <!-- Start Parallax section-->
      
      <!-- End Parallax section-->
      
      <!-- Start Footer section-->
      <footer id="footer">
        <div class="inner sep-bottom-md">
          <div class="container">
              <div class="row">
			
			<div class="col-md-4 col-sm-6">
                <div class="widget sep-top-lg"><img src="img/logo-white.png" alt="" class="logo"><small class="sep-top-xs sep-bottom-md">WHISTLE is evolving the way the world moves. By seamlessly connecting people with one another, we build relationships through our app. </small>
                  <h6 class="upper widget-title">Stay connected</h6>
                  <ul class="social-icon sep-top-xs">
                    <li><a href="coming-soon.html" class="fa fa-github fa-lg"></a></li>
                    <li><a href="http://www.twitter.com/DoWhistleApp" class="fa fa-twitter fa-lg"></a></li>
                    <li><a href="http://www.facebook.com/DoWhistleApp" class="fa fa-facebook fa-lg"></a></li>
                    <li><a href="coming-soon.html" class="fa fa-google-plus fa-lg"></a></li>
                  </ul>
                </div>
              </div>
			  
			 <div class="col-md-2 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Main Link</h6>
                  <ul class="widget-post sep-top-xs main_link">
				    <li><a href="index.html">Home</a></li>
                    <li><a href="policy.html">Privacy Policy</a></li>
                    <!-- li><a href="#">Copyright Policy</a></li -->
                    <li><a href="terms.html">Terms & Conditions</a></li>
					<li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
              </div>
			  
			   <div class="col-md-2 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">About Whistle</h6>
                 <ul class="widget-post sep-top-xs main_link">
				    <li><a href="about.html">About us</a></li>
                    <li><a href="team.html">Team</a></li>
                    <!-- li><a href="investor.html">Investors</a></li>
                    <li><a href="advisor.html">Advisors</a></li -->
                 </ul>
                </div>
              </div>
              
               <div class="col-md-4 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Visit Us</h6>
                  <ul class="widget-address sep-top-xs">
                    <li><i class="fa fa-map-marker fa-lg"></i><small>10292 TERRY WAY, UNIT 2 <br>Cupertino, CA 95014</small></li>
                    <li><i class="fa fa-phone fa-lg"></i><small>(+1) 408-771-1732 <br></small></li>
                    <li><i class="fa fa-envelope fa-lg"></i><small><a href="mailto:support@dowhistle.com">support@dowhistle.com</a></small></li>
                    <li><i class="fa fa-clock-o fa-lg"></i><small>Monday - Friday<br>09:00 - 18:00</small></li>
                  </ul>
                </div>
              </div>
			  
			  
            </div>
		 </div>
        </div>
        <div class="copyright sep-top-xs sep-bottom-xs">
          <div class="container">
            <div class="row">
              <div class="col-md-12"><small>Copyright 2014 © One Whistle. All rights reserved.</small></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer section-->
      <div id="back_to_top"><a href="index.html#" class="fa fa-arrow-up fa-lg"></a></div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="col-md-12">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Login</h4>
			  </div>
			  <img id="form-logo" class="deco" alt="Ottavio" src="img/themes/meadow/logo.png">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control icon" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control icon-pass" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="form-group">
					<label class="checkbox-inline"><input type="checkbox" value="">
					<span class="text-center">Remember me<span></label>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary btn-lg">Login</button><br/>
					<br/>
					<span class="register"><a href="#myModaly">Don't have an account? 
					<span style="color:#000;">Register Now!</span></a></span>
				</div>
				<!-- <div class="forgot-password">
					<a href="/#!/password/forgot" class="show-signup btn">Forgot your password?</a>
				</div> -->
			</fieldset>
		</form>
	</div>
</div>
<div class="modal fade" id="myModaly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="col-md-12">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Sign Up</h4>
			  </div>
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.password" placeholder="Email Address">
				</div>
				<div class="form-group">
					  <label for="sel1">City</label>
					  <select class="form-control SlectBox" >
						<option>Select City</option>
						<option>Chandigarh</option>
						<option>Panchkula</option>
					  </select>
				</div>
				<div class="form-group">
					  <label for="sel1">Country</label>
					  <select class="form-control SlectBox" >
						<option>Select Country</option>
						<option>India</option>
					  </select>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary btn-lg">Create an Account</button>

				</div>
				<!-- <div class="forgot-password">
					<a href="/#!/password/forgot" class="show-signup btn">Forgot your password?</a>
				</div> -->
			</fieldset>
		</form>
	</div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="scripts/vendor/vendor.js"></script>
    <script src="scripts/vendor/bootstrap.js"></script>
    <script src="scripts/vendor/bootstrap-extend.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/themes_panel.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-38221152-28', 'auto');
      ga('send', 'pageview');
    </script>

    <script type="text/javascript">
      jQuery(function($) {
        $('#contactForm').submit(function(event) {
          event.preventDefault();
          var $form = $(this);
          $("#send-email-button").attr("disabled", "disabled");
          var fname = $form.find("input[name='senderFName']").val();
          var lname = $form.find("input[name='senderLName']").val();
          var email = $form.find("input[name='senderEmail']").val();
          var phone = $form.find("input[name='senderPhone']").val();
          var comment = $form.find("textarea[name='senderComment']").val();

          var request = $.post("https://whistle-experiments.herokuapp.com/web_contact", {
            fname: fname,
            lname: lname,
            email: email,
            phone: phone,
            comment: comment
          }, function(data) {
            // Update UI
            alert("Update UI");
          });
        });
      });
    </script>
  </body>
</html>
