<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Whistle!</title>
    <meta name="description" content="One Page Layout">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
     <link type="text/css" href="styles/whistle.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <link id="primary_color_scheme" rel="stylesheet" href="styles/theme_meadow.css">
    <link rel="stylesheet" href="styles/themes_panel.css">
     <link href="styles/sumoselect.css" rel="stylesheet" />
    <script src="scripts/vendor/modernizr.js"></script>
    <link rel="icon" type="image/png" href="img/logo-dark.png" />
   
    <noscript>
      <link rel="stylesheet" href="styles/styleNoJs.css">
    </noscript>
  </head>
  <body>
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      <!-- Start Nav Section-->
      <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="index.html#" class="navbar-brand"><img src="img/logo-white.png" alt="" class="logo-white"><img src="img/logo-dark.png" alt="" class="logo-dark"></a>
          </div>
          <div class="navbar-collapse collapse">
            <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
            <ul id="one-page-menu" role="menu" class="nav navbar-nav navbar-left">
              <li><a href="index.html" title="Home" data-ref="home">Home</a>
              </li>
              <li><a href="about.html" title="About us" data-ref="about">About us</a>
              </li>
              <li><a href="category.html" title="Category" data-ref="Category">Category</a>
              </li>
              <li><a href="team.html" title="Team" data-ref="team">Team</a>
              </li>
              <!--<li><a href="investor.html" title="Investors" data-ref="blog">Investors</a>
              </li>
			   <li><a href="advisor.html" title="Investors" data-ref="blog">Advisors</a>
              </li> -->
              <li><a href="faq.html" title="FAQ" data-ref="pricing">FAQ</a>
              </li>
              <li><a href="contact.html" title="Contacts" data-ref="contacts">Contacts</a>
              </li>
            </ul>
			<!--<ul id="right-page-menu" role="menu" class="nav navbar-nav navbar-left">
              <li><a href="#myModal" data-toggle="modal" title="Login" data-ref="home">Login</a>
              </li>
              <li><a href="#myModaly" data-toggle="modal" title="Sign Up" data-ref="about">Sign Up</a>
              </li>
            </ul>-->
          </div>
        </div>
      </nav>
      <!-- Top section -->
      <!--<section class="banner-top">
		<article class="container">		
            <h1>
            	We are happy to <strong>helping</strong>
            </h1>	
            <p>Whistle bring people and their needs closer and faster</p>
        </article>    
      </section>-->
      <section style="background-image: url('img/intro-home6.jpg');" class="header-section fading-title parallax">
        <div class="section-shade sep-top-5x sep-bottom-3x">
          <div class="container">
            <div class="section-title upper text-center">
              <h2 class="light small-space">Frequently Asked&nbsp;<span class="text-primary">Questions</span></h2>
              <p class="lead light">Whistle bring people and their needs closer and faster.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Top section end-->
      
    <section class="padding-cs-top">
    <div class="container">
    <div class="row">
    <div class="col-md-12 ">
      <div class="section-title">
       <h3 style="margin-bottom:0px;">Recently Asked Questions</h3>
      <!--   <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC,
          making it over 2000 years old. Richard McClintock, a Latin professor
          at Hampden-Sydney College in Virginia, looked up one of the more
        </p>-->
      </div>
      <!-- start search form-->
     
      <!-- end search form-->
      <!-- start accordion group-->
      <div class="sep-top-xs">
        <div id="accordion" class="accordion-group acrdn_cstm_thm">
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse0" class="accordion-toggle">Do I need to register for whistle app?<i class="accordion-icon fa fa-minus"></i></a></div>
            <div id="collapse0" class="accordion-body panel-collapse in">
              <p>
                No. If you are an anonymous user, you don't need to register. Incase you want to search the whistles around you, then you can open the app, select the category, specify your needs and connect.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="accordion-toggle">When you need to register?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse1" class="accordion-body panel-collapse collapse">
              <p>
                You need to register only when you want to create whistle specifying your needs to your co-whistlers.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="accordion-toggle">Can I increase my whistle search radius?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse2" class="accordion-body panel-collapse collapse">
              <p>
                Yes. Your default radius is set to 10 kilo meters. You can set the radius anywhere from 1 km to 100 km. You can do this by going to menu, select settings and scroll radius in km to set your desired radius.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="accordion-toggle">Can I restrict number of whistlers to appear in my search?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse3" class="accordion-body panel-collapse collapse">
              <p>
                Yes. The default number of whistlers to appear in each search is set is 10. You can set the number of whistlers anywhere from 1 to 100. You can do this by going to menu, select settings and scroll limit to set your desired limit.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="accordion-toggle">What is refresh interval?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse4" class="accordion-body panel-collapse collapse">
              <p>
                The refresh interval is nothing but the system refreshes to get the latest whistlers around you based on the search condition. The default refresh interval is set to 30 seconds. You can set the refresh interval anywhere from 1 sec to 100 secs. You can do this by going to menu, select settings and scroll refresh interval in secs to set your desired limit.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="accordion-toggle"> Can user save preferences?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse5" class="accordion-body panel-collapse collapse">
              <p>
                Yes. An user can save preferences by selecting any category and user type. For example, an user selects taxi as the category, "Looking for passenger?" as the user type and can save this as his/her preference. Next time when you open the app, you will be directly shown whistles of your preference saved.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="accordion-toggle">Can I reset my preference?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse6" class="accordion-body panel-collapse collapse">
              <p>
                Yes. You can do this by going to menu, select settings and uncheck preference set (ON/OFF) button.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="accordion-toggle">Can I turn off whistler alert sound?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse7" class="accordion-body panel-collapse collapse">
              <p>
                Yes. You can do this by going to menu, select settings and uncheck whistler alert (ON/OFF) button.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse8" class="accordion-toggle">Can Whistler go invisible?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse8" class="accordion-body panel-collapse collapse">
              <p>
                Yes. You can do this by going to menu, select settings and uncheck whistler visible (ON/OFF) button.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse9" class="accordion-toggle">Does whistle app have any payment processing method?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse9" class="accordion-body panel-collapse collapse">
              <p>
                No. It will be on the users’ own risk to pay for the service and get payment for the service. The Whistle does not collect money and it is not providing a guarantee for the money transaction of the service. It only provides tools to communicate with the payment system.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse10" class="accordion-toggle">What are my choices to communicate with the whistler?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse10" class="accordion-body panel-collapse collapse">
              <p>
                You can contact the whistler through sending SMS and/or calling the whistler phone number. 
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse11" class="accordion-toggle">As a whistler, I don't want to receive calls or SMS. Does whistle support this feature?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse11" class="accordion-body panel-collapse collapse">
              <p>
                Yes, Whistle supports this feature. There are two ways to do this.
              </p>
              <ul>
              	<li>
                	While creating your profile itself, you can select either to show phone number or SMS option to others for communicating. Remember, at least one of the option must be selected. 
                </li>
                <li>
                	You can also change this selection after creating your profile. Go to menu- settings - profile- change your option and click update profile button.
                </li>
              </ul>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse12" class="accordion-toggle">How to edit my profile information?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse12" class="accordion-body panel-collapse collapse">
              <p>
                Go to menu- settings - profile- edit your information like name, photo and click update profile button.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse13" class="accordion-toggle">Can I edit my phone number?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse13" class="accordion-body panel-collapse collapse">
              <p>
                No you can't edit your phone number after registering. In case if you change your phone number, you the uninstall the app, reinstall it again and then register it with your new phone number.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse14" class="accordion-toggle">Can I have images added while creating a whistle?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse14" class="accordion-body panel-collapse collapse">
              <p>
                Yes, you can upload a maximum of 3 images per whistle.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          
          
          
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse24" class="accordion-toggle">Why I am not receiving the verification code through SMS?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse24" class="accordion-body panel-collapse collapse">
              <p>
                Make sure your phone number follows the following format:
              </p>
              <p>
              	A" + " Symbol followed by country code followed by phone number
              </p>
               <p>
              	Eg., Valid USA phone number is  +14083456789
              </p>
              <p>
					Valid India phone number is  +918123456789
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse25" class="accordion-toggle">Is it possible to get the verification code again?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse25" class="accordion-body panel-collapse collapse">
              <p>
               Yes, you can resend the code again by click the resend the code button while registering with the app.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse26" class="accordion-toggle">Can I give a thumbs up or thumbs down to a whistler more than once?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse26" class="accordion-body panel-collapse collapse">
              <p>
                No, you can give a like only once to a whistler by clicking the thumbs up icon in the user profile. You can also unlike a liked whistler by clicking the thumbs down icon in the whistler profile. After an unlike of  a whistler, you are allowed to like that whistler again. Therefore, at a given time you can't like a whistler more than once.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse27" class="accordion-toggle">Can I rate the whistles created?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse27" class="accordion-body panel-collapse collapse">
              <p>
                No, you can't rate whistles. You can only rate whistlers.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse28" class="accordion-toggle">Can I do a voice search?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse28" class="accordion-body panel-collapse collapse">
              <p>
                Yes, you can do a voice search by clicking the mike icon in the map page and speak your needs and the results will be displayed. You can also edit the text of  what you have spoken which is displayed in the textbox near to the mike icon.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse29" class="accordion-toggle">Can I revert the search selection?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse29" class="accordion-body panel-collapse collapse">
              <p>
                Yes, you can revert the search by clicking the revert button in the map page. The search criteria will then be cleared.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse30" class="accordion-toggle">Can I refresh my map without waiting for auto refresh?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse30" class="accordion-body panel-collapse collapse">
              <p>
                Yes, you can refresh the map manually whenever you needed by clicking the refresh icon which is located on the top left corner of the map.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse31" class="accordion-toggle">Can I search for whistles in a different location?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse31" class="accordion-body panel-collapse collapse">
              <p>
                Yes, you can manually move the map to your desired location or by clicking zoom in/ zoom out button. Wait for the refresh to happen. You will see the matches if found.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse32" class="accordion-toggle">What is the difference between anonymous user and registered user?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse32" class="accordion-body panel-collapse collapse">
              <p>
                Anonymous user can only do a search Whereas registered user can create a whistle also.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse33" class="accordion-toggle"> I tried to create profile for whistle, but it didn’t work?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse33" class="accordion-body panel-collapse collapse">
              <p>
                It’s possible that you created an profile in the past that’s still associated with your current phone number. If you don’t believe that you’ve created an account previously, please contact us and someone will help you out.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse34" class="accordion-toggle">Why won’t the app find my location?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse34" class="accordion-body panel-collapse collapse">
              <p>
                Your phone's GPS may not always be able to pinpoint your exact location. If you're indoors, your phone may have trouble establishing a good connection to the satellite(s) responsible for letting it find your location. The pin displayed in your app tells your location. 
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          
          
          
          
           <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse35" class="accordion-toggle"> What are whistle hours of operation?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse35" class="accordion-body panel-collapse collapse">
              <p>
               You can use whistle 24 hours a day, 365 days a year. Just open the app when you’re ready to create a whistle and we’ll connect you to the matching whistler nearby. 
              </p>
            </div>
          </div>
          <!-- end accordion item-->
           <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse36" class="accordion-toggle">How does whistle monitor the quality of whistler?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse36" class="accordion-body panel-collapse collapse">
              <p>
                Whistle regularly reviews all user ratings and feedback to ensure that we allow high quality, highly rated providers and subscribers to use our app. We actively seek feedback on every whistle, and take this feedback very seriously when evaluating our whistler.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
           <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse37" class="accordion-toggle">Does whistle take me to the airport?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse37" class="accordion-body panel-collapse collapse">
              <p>
                Absolutely! To make sure you will get to the airport in time, check the App ahead in time, so that you can reach on time.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
           <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse38" class="accordion-toggle">Do I have to tip my service provider?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse38" class="accordion-body panel-collapse collapse">
              <p>
                Being Whistler means there is no need to tip providers with any of our services. 
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse39" class="accordion-toggle"> How to add an image to my profile?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse39" class="accordion-body panel-collapse collapse">
              <p>
               When creating a whistle, user can add an image to their profile by clicking the add image icon, select photo from your phone library or take a new picture using your phone camera, select the desired image and your image is added to the profile. 
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          
          
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse40" class="accordion-toggle">How do I get the app?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse40" class="accordion-body panel-collapse collapse">
              <p>
               Download the Whistle app from the <a href="javascript:void(0);">Google Play Store</a> for android and <a href="javascript:void(0);">iTunes</a> for  ios.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse41" class="accordion-toggle">Can I use whistle without a smartphone?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse41" class="accordion-body panel-collapse collapse">
              <p>
                             Right now, whistle is only accessible through our Android app. We are always working on new ways to experience whistle. 
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse42" class="accordion-toggle">How old do I have to be to have an whistle account?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse42" class="accordion-body panel-collapse collapse">
              <p>
              You have to be 18 or older to have an whistle account.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse43" class="accordion-toggle">Who are whistlers? <i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse43" class="accordion-body panel-collapse collapse">
              <p>
               Whistlers are people in your community. We’ve whistlers from all walks of life like retirees, stay-at-home moms, professional drivers, college students etc all with great customer service skills and/or a good working vehicle.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse44" class="accordion-toggle">Why are whistler ratings important?  <i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse44" class="accordion-body panel-collapse collapse">
              <p>
               Those with the best ratings are given preference in future. So remember to rate your whistler on each whistle. Whistle only maintains partnerships with those who consistently receive good ratings from users. That is how we reward great whistlers as well as ensure a positive user experience with each whistle. 
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          
          
          
        </div>
      </div>
      <!-- end accordion group-->
      
     <!-- <div class="sep-top-xs">
        <p>
          Vestibulum elementum dolor et massa ultricies condimentum. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Donec vel faucibus orci. Cras a convallis odio.
        </p>
      </div>-->
      
    </div>
   
    </div>
    </div>
    </section>   
    <br />
    <br />
      <section class="call-to-action bg-primary sep-top-xs sep-bottom-xs">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h5 class="action-title upper light">No helpful answers? Here are some options</h5>
            </div>
            <div class="col-md-3 text-right"><a class="btn btn-light btn-bordered btn-lg" href="contact.html">Contact us</a></div>
          </div>
        </div>
      </section>            
                  
            
     
      <!-- Start Footer section-->
      <footer id="footer">
        <div class="inner sep-bottom-md">
          <div class="container">
             <div class="row">
			
			<div class="col-md-4 col-sm-6">
                <div class="widget sep-top-lg"><img src="img/logo-white.png" alt="" class="logo"><small class="sep-top-xs sep-bottom-md">WHISTLE is evolving the way the world moves. By seamlessly connecting people with one another, we build relationships through our app. </small>
                  <h6 class="upper widget-title">Stay connected</h6>
                  <ul class="social-icon sep-top-xs">
                    <li><a href="#" class="fa fa-github fa-lg"></a></li>
                    <li><a href="#" class="fa fa-twitter fa-lg"></a></li>
                    <li><a href="#" class="fa fa-facebook fa-lg"></a></li>
                    <li><a href="#" class="fa fa-google-plus fa-lg"></a></li>
                  </ul>
                </div>
              </div>
			  
			 <div class="col-md-2 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Main Link</h6>
                  <ul class="widget-post sep-top-xs main_link">
				    <li><a href="index.php">Home</a></li>
                    <li><a href="policy.html">Privacy Policy</a></li>
                    <li><a href="#">Copyright Policy</a></li>
                    <li><a href="terms.html">Terms & Conditions</a></li>
					<li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
              </div>
			  
			   <div class="col-md-2 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">About Whistle</h6>
                 <ul class="widget-post sep-top-xs main_link">
				    <li><a href="about.html">About us</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="investor.html">Investor</a></li>
                    <li><a href="advisor.html">Advisors</a></li>
                 </ul>
                </div>
              </div>
              
               <div class="col-md-4 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Visit Us</h6>
                  <ul class="widget-address sep-top-xs">
                    <li><i class="fa fa-map-marker fa-lg"></i><small>10292 TERRY WAY, UNIT 2 <br>Cupertino, CA 95014</small></li>
                    <li><i class="fa fa-phone fa-lg"></i><small>(+1) 408-771-1732 <br></small></li>
                    <li><i class="fa fa-envelope fa-lg"></i><small><a href="index.html#">support@dowhistle.com</a></small></li>
                    <li><i class="fa fa-clock-o fa-lg"></i><small>Mon / Friday<br>09:00 - 13.00 / 14:00 - 18:00</small></li>
                  </ul>
                </div>
              </div>
			  
            </div>
		</div>
        </div>
        <div class="copyright sep-top-xs sep-bottom-xs">
          <div class="container">
            <div class="row">
              <div class="col-md-12"><small>Copyright 2014 © One Whistle. All rights reserved.</small></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer section-->
      <div id="back_to_top"><a href="index.html#" class="fa fa-arrow-up fa-lg"></a></div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="col-md-12">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Login</h4>
			  </div>
			  <img id="form-logo" class="deco" alt="Ottavio" src="img/themes/meadow/logo.png">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control icon" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control icon-pass" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="form-group">
					<label class="checkbox-inline"><input type="checkbox" value="">
					<span class="text-center">Remember me<span></label>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary btn-lg">Login</button><br/>
					<br/>
					<span class="register"><a href="#myModaly">Don't have an account? 
					<span style="color:#000;">Register Now!</span></a></span>
				</div>
				<!-- <div class="forgot-password">
					<a href="/#!/password/forgot" class="show-signup btn">Forgot your password?</a>
				</div> -->
			</fieldset>
		</form>
	</div>
</div>
<div class="modal fade" id="myModaly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="col-md-12">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Sign Up</h4>
			  </div>
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.password" placeholder="Email Address">
				</div>
				<div class="form-group">
					  <label for="sel1">City</label>
					  <select class="form-control SlectBox" >
						<option>Select City</option>
						<option>Chandigarh</option>
						<option>Panchkula</option>
					  </select>
				</div>
				<div class="form-group">
					  <label for="sel1">Country</label>
					  <select class="form-control SlectBox" >
						<option>Select Country</option>
						<option>India</option>
					  </select>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary btn-lg">Create an Account</button>

				</div>
				<!-- <div class="forgot-password">
					<a href="/#!/password/forgot" class="show-signup btn">Forgot your password?</a>
				</div> -->
			</fieldset>
		</form>
	</div>
    <script src="scripts/vendor/vendor.js"></script>
    <script src="scripts/vendor/bootstrap.js"></script>
    <script src="scripts/vendor/bootstrap-extend.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/themes_panel.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-38221152-28', 'auto');
      ga('send', 'pageview');
    </script>
	
		<script src="js/jquery.sumoselect.min.js"></script>
    <script type="text/javascript">
	
	jQuery (document).ready(function () {
		window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 3 });
	});
</script>
  </body>
</html>