<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Whistle!</title>
    <meta name="description" content="One Page Layout">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <link type="text/css" href="styles/whistle.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <link id="primary_color_scheme" rel="stylesheet" href="styles/theme_meadow.css">
    <link rel="stylesheet" href="styles/themes_panel.css">
     <link href="styles/sumoselect.css" rel="stylesheet" />
    <script src="scripts/vendor/modernizr.js"></script>
    <link rel="icon" type="image/png" href="img/logo-dark.png" />
   
    <noscript>
      <link rel="stylesheet" href="styles/styleNoJs.css">
    </noscript>
  </head>
  <body>
    <div id="load"></div><!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      <!-- Start Nav Section-->
      <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="index.html#" class="navbar-brand"><img src="img/logo-white.png" alt="" class="logo-white"><img src="img/logo-dark.png" alt="" class="logo-dark"></a>
          </div>
          <div class="navbar-collapse collapse">
            <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
            <ul id="one-page-menu" role="menu" class="nav navbar-nav navbar-left">
              <li><a href="index.html" title="Home" data-ref="home">Home</a>
              </li>
              <li><a href="about.html" title="About us" data-ref="about">About us</a>
              </li>
              <li><a href="category.html" title="Category" data-ref="Category">Category</a>
              </li>
              <li><a href="team.html" title="Team" data-ref="team">Team</a>
              </li>
              <!--<li><a href="investor.html" title="Investors" data-ref="blog">Investors</a>
              </li>
			   <li><a href="advisor.html" title="Investors" data-ref="blog">Advisors</a>
              </li> -->
              <li><a href="faq.html" title="FAQ" data-ref="pricing">FAQ</a>
              </li>
              <li><a href="contact.html" title="Contact Us" data-ref="contacts">Contact Us</a>
              </li>
            </ul>
			<!--<ul id="right-page-menu" role="menu" class="nav navbar-nav navbar-left">
              <li><a href="#myModal" data-toggle="modal" title="Login" data-ref="home">Login</a>
              </li>
              <li><a href="#myModaly" data-toggle="modal" title="Sign Up" data-ref="about">Sign Up</a>
              </li>
            </ul>-->
          </div>
        </div>
      </nav>
      <!-- Top section -->
      <!--<section class="banner-top">
		<article class="container">		
            <h1>
            	We are happy to <strong>helping</strong>
            </h1>	
            <p>Whistle bring people and their needs closer and faster</p>
        </article>    
      </section>-->
      <section style="background-image: url('img/intro-home6.jpg');" class="header-section fading-title parallax">
        <div class="section-shade sep-top-5x sep-bottom-3x">
          <div class="container">
            <div class="section-title upper text-center">
              <h2 class="light small-space">Frequently Asked&nbsp;<span class="text-primary">Questions</span></h2>
              <p class="lead light">Whistle bring people and their needs closer and faster.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Top section end-->
      
    <section class="padding-cs-top">
    <div class="container">
    <div class="row">
    <div class="col-md-12 ">
      <div class="section-title">
       <h3 style="margin-bottom:0px;">Frequently Asked Questions</h3>
      <!--   <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC,
          making it over 2000 years old. Richard McClintock, a Latin professor
          at Hampden-Sydney College in Virginia, looked up one of the more
        </p>-->
      </div>
      <!-- start search form-->
     
      <!-- end search form-->
      <!-- start accordion group-->
      <div class="sep-top-xs">

        <h4>Registration</h4>

        <div id="accordion" class="accordion-group acrdn_cstm_thm">
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse0" class="accordion-toggle">DO I NEED TO REGISTER IN ORDER TO USE WHISTLE?<i class="accordion-icon fa fa-minus"></i></a></div>
            <div id="collapse0" class="accordion-body panel-collapse in">
              <p>
                Not at all, you may use our services as an anonymous user. If you want to search for Whistles around you, simply open the app, select the appropriate category, and Whistle on!
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="accordion-toggle">WHY SHOULD I CREATE MY OWN ACCOUNT?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse1" class="accordion-body panel-collapse collapse">
              <p>
                Creating an account ensures your preferences are saved and also enables the geo-tracking feature.  If you’d like the app to actively find matches for you automatically, just create a profile of your needs and/or available services.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="accordion-toggle">I UNDERSTAND THE VERIFICATION CODE IS TEXTED TO ME VIA SMS. WHY HAVEN’T I RECEIVED IT YET?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse2" class="accordion-body panel-collapse collapse">
              <p>
                Follow these steps:
              </p>
              <ol>
                <li>Make sure your phone number is entered and saved in the app.</li>
                <li>Make sure your phone number follows the following format: India 9912345678, USA 4081231234. Please do not include the country code.</li>
              </ol>
              <p>
                To get the verification code sent again, feel free to enter your phone number again and click “OK ” and voila! The verification code will be sent out again.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="accordion-toggle">I’VE TRIED ALL OF YOUR TIPS TO CREATE MY WHISTLE PROFILE, BUT I AM STILL HAVING DIFFICULTY. PLEASE, HELP ME!<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse3" class="accordion-body panel-collapse collapse">
              <p>
                We are sorry you’re having difficulty and are more than happy to help resolve the problem. Please reach out to us via email at <a href="mailto:support@dowhistle.com">support@dowhistle.com</a>
              </p>
            </div>
          </div>
        </div>

        <h4>Using Whistle</h4>

        <div id="accordion2" class="accordion-group acrdn_cstm_thm">
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse4" class="accordion-toggle">HOW DO I INCREASE MY WHISTLE SEARCH RADIUS?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse4" class="accordion-body panel-collapse collapse">
              <p>
                Your default search radius is set to 10 kilometers or miles depending on your region. In order to customize your search radius, simply go to Menu, select Settings, and then adjust the horizontal Radius scroll to your liking.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse5" class="accordion-toggle">CAN I SET THE NUMBER OF WHISTLE SEARCH RESULTS THAT SHOW PER SEARCH?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse5" class="accordion-body panel-collapse collapse">
              <p>
                Absolutely! The default is 10 search results per search, you may customize the number by going to Menu, then Settings, and then scroll where it says “Limit” to set your desired search outcome.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse6" class="accordion-toggle">HOW DO I SEARCH FOR WHISTLES IN A DIFFERENT LOCATION FROM WHERE I ACTUALLY AM?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse6" class="accordion-body panel-collapse collapse">
              <p>
                Simply maneuver the map to display your desired area. This can be done by:
              </p>
              <ul>
                <li>Clicking and dragging the map until the center of your desired area is in the center of the map</li>
                <li>Zooming in or out so that your map displays all of your desired search area</li>
              </ul>
              <p>
                Then, just wait for Whistle to refresh automatically (be patient!) and your matches will be displayed.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse7" class="accordion-toggle">WHAT IS A “REFRESH INTERVAL”?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse7" class="accordion-body panel-collapse collapse">
              <p>
                A refresh interval is the amount of time the system waits in between refreshing in order to display the latest matches to you. The default refresh interval is 30 seconds. You can adjust the refresh interval thereby scheduling Whistle to refresh anywhere from 10 sec to 100 seconds. 
              </p>
              <p>
                This setting can be accessed by selecting Menu, Settings, then go to where it says “Refresh” and slide the  till your desired refresh interval is indicated.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse8" class="accordion-toggle">CAN I DO A VOICE SEARCH?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse8" class="accordion-body panel-collapse collapse">
              <p>
                Yes, you perform a voice search by simply selecting the microphone icon on the map page. Voice your needs clearly and your results will be displayed thereafter. You can also edit the transcribed text after you have spoken.  WILL BE AVAILABLE IN FUTURE.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse9" class="accordion-toggle">HOW DO I CLEAR PREVIOUSLY ENTERED SEARCH CRITERIA?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse9" class="accordion-body panel-collapse collapse">
              <p>
                You can clear your search specifications by clicking the Filter Icon (the triangle lollipop-looking thing) located on the map page. The any search specifications will then be cleared; ready for you to start a whole new search!
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse10" class="accordion-toggle">CAN I REFRESH MY MAP MANUALLY WITHOUT HAVING TO WAIT FOR AUTOREFRESH?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse10" class="accordion-body panel-collapse collapse">
              <p>
                For sure, in fact, it’s easy! Click the Refresh Icon located on the top-left corner of the map. If you’d like to adjust your auto-refresh interval, please see the FAQ “What is a Refresh Interval?”
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse11" class="accordion-toggle">WHAT DOES THE “SHOW PEER” OPTION DO EXACTLY?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse11" class="accordion-body panel-collapse collapse">
              <p>
                This option enables you to look for what your peers are doing based off of your phone contacts. This option can be used to identify fellow Whistlers you already know to trade tips, experiences, or to just Whistle with each other!
              </p>
              <p>
                This option can be found in [+] icon on the MAP.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse12" class="accordion-toggle">HOW DO I STOP THE APP FROM USING 3G/4G/5G/MOBILE DATA?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse12" class="accordion-body panel-collapse collapse">
              <p>
                There is a an option located in Settings called “Background Tracking.” If you switch this option (OFF) the app will stop using data completely. Keep in mind, this also shuts off access to Whistle searches and geo-tracking unless you are connected to a WiFi source. This means, if you are a Whistler, your Whistles will be visible from last known area until you hide to remove your presence to other Whistlers.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
        </div>

        <h4>Account Management</h4>

        <div id="accordion3" class="accordion-group acrdn_cstm_thm">
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion3" href="#collapse13" class="accordion-toggle">CAN I SAVE MY PREFERENCES?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse13" class="accordion-body panel-collapse collapse">
              <p>
                Absolutely. Keep in mind, you can only save preferences after you’ve created an account. Simply save the preference after you select your desired category and need.
              </p>
              <p>
                For example, say you are eternally hungry. Simply select the “Food” category. Then, select the need titled "Looking for food?" and save it. The next time your hunger pangs strike, simply open the app and the app will  automatically display Whistles of delicious dishes nearby.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion3" href="#collapse14" class="accordion-toggle">HOW DO I RESET MY PREFERENCE?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse14" class="accordion-body panel-collapse collapse">
              <p>
                Go to Menu, select Settings, and scroll until you see the Preference Set button. Select (OFF).
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion3" href="#collapse15" class="accordion-toggle">CAN I TURN OFF THE WHISTLER ALERT SOUND?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse15" class="accordion-body panel-collapse collapse">
              <p>
                Go to Menu, Settings, and then scroll until you see the Whistler Alert button. Select (OFF).
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion3" href="#collapse16" class="accordion-toggle">CAN A WHISTLER GO INVISIBLE?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse16" class="accordion-body panel-collapse collapse">
              <p>
                In order to go invisible, open up the map page. From there, select the Visibility Icon in order to turn invisibility on or off.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion3" href="#collapse17" class="accordion-toggle">I AM A WHISTLER AND I DON'T WANT TO RECEIVE CALLS OR SMS/TEXT MESSAGES.<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse17" class="accordion-body panel-collapse collapse">
              <p>
                There are two ways to update this. If you are creating your profile, the app will prompt you in regards to which of the two, text or call, you prefer. At least one of these modes of communication must be available (otherwise, those looking for your service cannot contact you!)
              </p>
              <p>
                If you have already created your profile, simply go to Settings, then Profile, and scroll until you see the Text or Call option which controls how Whistlers will contact you. Be sure to click the “Update Profile” button afterwards to save your selection.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion3" href="#collapse18" class="accordion-toggle">HOW DO I EDIT MY PROFILE INFORMATION?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse18" class="accordion-body panel-collapse collapse">
              <p>
                Go to Menu, then Settings, and select Profile. From there, you can edit general information such as your displayed name and your profile photo. To save your update, click the “Update Profile” button.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion3" href="#collapse19" class="accordion-toggle">HOW DO I ADD AN IMAGE TO MY PROFILE?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse19" class="accordion-body panel-collapse collapse">
              <p>
                When you create a Whistle, you can add an image by clicking the “Add Image” Icon. The app will give you the option to either select a photo from your phone library or to take a new picture using the camera on your device.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion3" href="#collapse20" class="accordion-toggle">CAN I EDIT/UPDATE MY PHONE NUMBER?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse20" class="accordion-body panel-collapse collapse">
              <p>
                Sorry, you cannot! Whistle accounts are melded directly and only to the phone numbers they were created with. 
              </p>
              <p>
                If you have a new phone number, you will need to uninstall the app, reinstall the app, and create an account from scratch with that new phone number. We suggest taking screenshots of your settings, preferences, and whistles if you’d like to replicate your prior profile.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
        </div>

        <h4>Other FAQ While Whistling</h4>

        <div id="accordion4" class="accordion-group acrdn_cstm_thm">
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion4" href="#collapse21" class="accordion-toggle">DOES WHISTLE PROVIDE A PAYMENT-PROCESSING METHOD?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse21" class="accordion-body panel-collapse collapse">
              <p>
                No, Whistle is simply a marketplace forum. It is the user’s responsibility to facilitate payment for services and any transactions are conducted at the user’s own risk. Whistle does not collect dividends or nominal fees from transactions and/or purchases. Whistle does not provide a guarantee for transactions monetary or otherwise. 
              </p>
              <p>
                We merely provide the platform for communication. The real movers and shakers are the Whistlers!
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion4" href="#collapse22" class="accordion-toggle">HOW DO I CONTACT A WHISTLER?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse22" class="accordion-body panel-collapse collapse">
              <p>
                Select their profile, it will show you how you can contact them. Depending on the Whistler, you will be able to contact the whistler via SMS/texting and/or via phone call.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion4" href="#collapse23" class="accordion-toggle">CAN I UPLOAD IMAGES ALONG WITH MY WHISTLE WHILST POSTING?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse23" class="accordion-body panel-collapse collapse">
              <p>
                Yes, you can upload a maximum of 3 images per Whistle.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion4" href="#collapse24" class="accordion-toggle">WHAT IS THE DIFFERENCE BETWEEN AN ANONYMOUS USER AND A REGISTERED USER?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse24" class="accordion-body panel-collapse collapse">
              <p>
                An anonymous user will not have the geo-tracking feature activated, thus, they can only do manual searches and will not be visible to other Whistlers when they search in turn. Also, an anonymous user cannot create Whistles, and thus, cannot provide services. 
              </p>
              <p>
                A registered user can do so much more! A registered user can create Whistles, save search preferences, and will show up in fellow Whistlers’ searches.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
        </div>

        <h4>Rating A Whistler</h4>

        <div id="accordion5" class="accordion-group acrdn_cstm_thm">
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion5" href="#collapse25" class="accordion-toggle">HOW DO I RATE A WHISTLER?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse25" class="accordion-body panel-collapse collapse">
              <p>
                You can either give a Whistler a thumbs-up or a thumbs-down by clicking the thumb icons in the Whistler’s profile. Think of this as a voting system. You can only cast this one rating but you can change your mind as many times as you’d like. In other words, you can only cast one thumbs-up/thumbs-down no matter how many Whistles you consume. 
              </p>
              <p>
                Any time you’d like to change your mind, simply go back to that Whistler’s profile and click your new desired rating.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion5" href="#collapse26" class="accordion-toggle">CAN I RATE A WHISTLE?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse26" class="accordion-body panel-collapse collapse">
              <p>
                No, you cannot rate Whistles. You can only thumbs-up or thumbs-down Whistlers.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion5" href="#collapse27" class="accordion-toggle">WHY ARE WHISTLER RATINGS SO IMPORTANT?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse27" class="accordion-body panel-collapse collapse">
              <p>
                Whistlers with more thumbs-ups will be given priority and more visibility in future Whistle searches. This is how Whistle rewards those who have a great thumbs-up track-record! We strive to provide quality Whistles to users near and far!
              </p>
            </div>
          </div>
          <!-- end accordion item-->
        </div>

        <h4>General</h4>

        <div id="accordion6" class="accordion-group acrdn_cstm_thm">
           <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion6" href="#collapse28" class="accordion-toggle">WHO ARE WHISTLERS?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse28" class="accordion-body panel-collapse collapse">
              <p>
                Whistlers are fellow individuals of your local community. There is no cookie-cutter Whistler; in turn, Whistles can be as diverse as the Whistlers who are providing services! Retirees, stay-at-home parents, college students, and Batman can all create accounts and become Whistlers. What Whistlers all have in common is a love for what they do and a passion for providing excellent customer service.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion6" href="#collapse29" class="accordion-toggle">HOW DO I GET THE APP?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse29" class="accordion-body panel-collapse collapse">
              <p>
                Depending on your device, access either the Google Play Store for Android and from iTunes for iOS, search “Whistle,” and you should see the Whistle app come up. Our icon is a teal box with a white bolded “W” in it. Whistle away!
              </p>
            </div>
          </div>
          <!-- end accordion item-->
           <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion6" href="#collapse30" class="accordion-toggle">CAN I USE WHISTLE WITHOUT A SMARTPHONE?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse30" class="accordion-body panel-collapse collapse">
              <p>
                Unfortunately, currently Whistle is only accessible through our Android and iPhone apps. We are working to make Whistle accessible for other pieces of tech. Hang tight!
              </p>
            </div>
          </div>
          <!-- end accordion item-->
           <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion6" href="#collapse31" class="accordion-toggle">IS THERE A MINIMUM AGE LIMIT FOR CREATING A WHISTLE PROFILE?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse31" class="accordion-body panel-collapse collapse">
              <p>
                You have to be at least 18 years old in order to create and manage a Whistle account.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
          <!-- start accordion item-->
          <div class="accordion-item panel">
            <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion6" href="#collapse32" class="accordion-toggle">I HAVE MY GPS TRACKING ON. WHY CAN’T THE APP PINPOINT MY LOCATION?<i class="accordion-icon fa fa-plus"></i></a></div>
            <div id="collapse32" class="accordion-body panel-collapse collapse">
              <p>
                Ultimately, it has to do with your phone’s GPS reception and quality. Areas with little to no reception such as rural regions, indoor facilities, and underground parking garages can heavily impact the accuracy and function of the app’s geo-tracking feature. 
              </p>
              <p>
                If your phone is having trouble locking onto your exact location, another option is for you to search by location manually.
              </p>
            </div>
          </div>
          <!-- end accordion item-->
        </div>
      </div>
      <!-- end accordion group-->
      
     <!-- <div class="sep-top-xs">
        <p>
          Vestibulum elementum dolor et massa ultricies condimentum. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Donec vel faucibus orci. Cras a convallis odio.
        </p>
      </div>-->
      
    </div>
   
    </div>
    </div>
    </section>   
    <br />
    <br />
      <section class="call-to-action bg-primary sep-top-xs sep-bottom-xs">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h5 class="action-title upper light">No helpful answers? Here are some options</h5>
            </div>
            <div class="col-md-3 text-right"><a class="btn btn-light btn-bordered btn-lg" href="contact.html">Contact us</a></div>
          </div>
        </div>
      </section>            
                  
            
     
      <!-- Start Footer section-->
      <footer id="footer">
        <div class="inner sep-bottom-md">
          <div class="container">
             <div class="row">
			
			<div class="col-md-4 col-sm-6">
                <div class="widget sep-top-lg"><img src="img/logo-white.png" alt="" class="logo"><small class="sep-top-xs sep-bottom-md">WHISTLE is evolving the way the world moves. By seamlessly connecting people with one another, we build relationships through our app. </small>
                  <h6 class="upper widget-title">Stay connected</h6>
                  <ul class="social-icon sep-top-xs">
                    <li><a href="coming-soon.html" class="fa fa-github fa-lg"></a></li>
                    <li><a href="http://www.twitter.com/DoWhistleApp" class="fa fa-twitter fa-lg"></a></li>
                    <li><a href="http://www.facebook.com/DoWhistleApp" class="fa fa-facebook fa-lg"></a></li>
                    <li><a href="coming-soon.html" class="fa fa-google-plus fa-lg"></a></li>
                  </ul>
                </div>
              </div>
			  
			 <div class="col-md-2 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Main Link</h6>
                  <ul class="widget-post sep-top-xs main_link">
				    <li><a href="index.html">Home</a></li>
                    <li><a href="policy.html">Privacy Policy</a></li>
                    <!-- li><a href="#">Copyright Policy</a></li -->
                    <li><a href="terms.html">Terms & Conditions</a></li>
					<li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
              </div>
			  
			   <div class="col-md-2 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">About Whistle</h6>
                 <ul class="widget-post sep-top-xs main_link">
				    <li><a href="about.html">About us</a></li>
                    <li><a href="team.html">Team</a></li>
                    <!-- li><a href="investor.html">Investors</a></li>
                    <li><a href="advisor.html">Advisors</a></li -->
                 </ul>
                </div>
              </div>
              
               <div class="col-md-4 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Visit Us</h6>
                  <ul class="widget-address sep-top-xs">
                    <li><i class="fa fa-map-marker fa-lg"></i><small>10292 TERRY WAY, UNIT 2 <br>Cupertino, CA 95014</small></li>
                    <li><i class="fa fa-phone fa-lg"></i><small>(+1) 408-771-1732 <br></small></li>
                    <li><i class="fa fa-envelope fa-lg"></i><small><a href="mailto:support@dowhistle.com">support@dowhistle.com</a></small></li>
                    <li><i class="fa fa-clock-o fa-lg"></i><small>Monday - Friday<br>09:00 - 18:00</small></li>
                  </ul>
                </div>
              </div>
			  
            </div>
		</div>
        </div>
        <div class="copyright sep-top-xs sep-bottom-xs">
          <div class="container">
            <div class="row">
              <div class="col-md-12"><small>Copyright 2014 © One Whistle. All rights reserved.</small></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer section-->
      <div id="back_to_top"><a href="index.html#" class="fa fa-arrow-up fa-lg"></a></div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="col-md-12">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Login</h4>
			  </div>
			  <img id="form-logo" class="deco" alt="Ottavio" src="img/themes/meadow/logo.png">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control icon" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control icon-pass" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="form-group">
					<label class="checkbox-inline"><input type="checkbox" value="">
					<span class="text-center">Remember me<span></label>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary btn-lg">Login</button><br/>
					<br/>
					<span class="register"><a href="#myModaly">Don't have an account? 
					<span style="color:#000;">Register Now!</span></a></span>
				</div>
				<!-- <div class="forgot-password">
					<a href="/#!/password/forgot" class="show-signup btn">Forgot your password?</a>
				</div> -->
			</fieldset>
		</form>
	</div>
</div>
<div class="modal fade" id="myModaly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="col-md-12">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Sign Up</h4>
			  </div>
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.password" placeholder="Email Address">
				</div>
				<div class="form-group">
					  <label for="sel1">City</label>
					  <select class="form-control SlectBox" >
						<option>Select City</option>
						<option>Chandigarh</option>
						<option>Panchkula</option>
					  </select>
				</div>
				<div class="form-group">
					  <label for="sel1">Country</label>
					  <select class="form-control SlectBox" >
						<option>Select Country</option>
						<option>India</option>
					  </select>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary btn-lg">Create an Account</button>

				</div>
				<!-- <div class="forgot-password">
					<a href="/#!/password/forgot" class="show-signup btn">Forgot your password?</a>
				</div> -->
			</fieldset>
		</form>
	</div>
    <script src="scripts/vendor/vendor.js"></script>
    <script src="scripts/vendor/bootstrap.js"></script>
    <script src="scripts/vendor/bootstrap-extend.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/themes_panel.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-38221152-28', 'auto');
      ga('send', 'pageview');
    </script>
	
		<script src="js/jquery.sumoselect.min.js"></script>
    <script type="text/javascript">
	
	jQuery (document).ready(function () {
		window.asd = $('.SlectBox').SumoSelect({ csvDispCount: 3 });
	});
</script>
  </body>
</html>
